<% products.forEach(product => { %> <!-- Loop through each product -->
    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
            <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="<%= product.image_url %>" alt="<%= product.name %>"> <!-- Display the image -->
            </div>
            <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate" href="#"><%= product.name %></a> <!-- Display product name -->
                <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$<%= product.price %></h5> <!-- Display product price -->
                </div>
            </div>
        </div>
    </div>
    <% }); %> <!-- End loop -->
    